* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
background-color: bisque;
}

.gallery {
    display: grid;
    height: 95%;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: 0 auto;
    width: 25%;
}

.gallery-image img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.gallery-image-4 {
    grid-column: 2/4;
    grid-row: 2/4;

}